<header>
  <h1><a href = "/"><img src="logo.png" alt="logo" width="200"></a></h1>
    <a href="/" class="nav">Home</a>
    <a href="/search" class="nav">Book Search</a>
    <a href="/library" class="nav">My Library</a>
  {{#if isLoggedIn}}
    <a href="/api/logout" class="nav">Logout</a>
  {{else}}
    <a href="/login" class="nav">Login</a>
    <a href="/signup" class="nav">Sign Up</a>
  {{/if}}
</header>
