.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 50;
}

.headers {
    font-family: "Unkempt", cursive;
    font-weight: 400;
    font-style: normal;
}

.button {
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;
}

