<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Bookworm</title>
  <link rel="icon" type="image/png" href="/logo_mobile.png">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap">
  <script src = "/library.js"></script>
  <script src = "/nav.js"></script>
  <script src="https://kit.fontawesome.com/d355ecc2bf.js" crossorigin="anonymous"></script>
</head>
<body class="container">
  {{{body}}}
</body>
</html>