{{> header}}
<main>
  <h1>Welcome to The Bookworm!</h1>
  <h2>Search for the book you just finished and add it to your library.</h2>
  <p><a href="/signup">Create an account</a> or <a href="/login">login</a> to to get started.</p>
</main>
{{> footer}}

